{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<style>
    .background {
        background-image: url("");
        background-size: 100%;
        width: 1024px;
        height: 768px;
        background-repeat:no-repeat;
    }
    .btn-text-left{
    text-align: left;	
    }
    .btn-text-right{
    text-align: right;
    } 
</style>

{{!-- <div class="background mx-auto"> --}}

<div class="container py-3 my-3">
  <div class="card" style="border: 2px solid #796241;border-radius : 20px;">
    <div class="card-body text-center" style="color: #8b817a;">
      <h1>Add your bookings</h1> 
    </div>
  </div>  
</div>

<section class="search-banner text-white" id="search-banner">

<div class="container py-0 my-0">  
    {{!-- layout adjust--}}
    <div class="row row-cols-1 row-cols-md-2"> 
        <div class="col mb-4">

        <div class="card" style="background-color: #374764;">
          <img src="" alt="" class="card-img-top img-fluid">
            <div class="vard card-body">
                {{!-- <p class="font-weight-light text-white" >Venue</p> --}}
                <h1 class="display-5 py-0 font-weight-block text-center text-light">The Country Club</h1>
                {{!-- <p class="font-weight-block text-center text-light">The Country Club</p> --}}
     
            <form action="/bookings/add" method="post">
                 <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group ">      
                                    <input 
                                        class="form-control" 
                                        id = "bookingDate"  
                                        type = "date"
                                        name="bookingDate"
                                        placeholder = "Choose a Date" 
                                        class = "textbox-n"
                                        onfocus = "(this.type = 'date')"  
                                        value="{{bookingDate}}"style="width: 100%">
                            </div>
                        </div>

                        <div class="col-md-6">                      
                            <div class="form-group ">
                                <select class="form-control" id="course" name="course">
                                    <option selected>Select Course</option>
                                    <option value="PYTH01">Python Beginners</option>
                                    <option value="REAC01">REACT Advance</option>
                                    <option value="MGDB01">Mongo DB</option>
                                </select>
                            </div>
                        </div>
                        </div>
                            
                        {{!-- <div class="col-md-4">                      
                            <div class="form-group">
                                <select class="custom-select" id="mySelect" name="facility" value="">
                                    <option selected disabled>Select Sport</option>
                                    <option value="Golf">Golf</option>
                                    <option value="Rugby">Rugby</option>
                                    <option value="Squash C1">Squash Court 1</option>
                                    <option value="Squash C2">Squash Court 2</option>
                                    <option value="Squash C3">Squash Court 3</option>
                                    <option value="Squash C4">Squash Court 4</option>
                                    <option value="Tennis C1">Tennis Court 1</option>
                                    <option value="Tennis C2">Tennis Court 2</option>
                                    <option value="Tennis C3">Tennis Court 3</option>
                                    <option value="Tennis C4">Tennis Court 4</option>
                                    <option value="Tennis C5">Tennis Court 5</option>
                                    <option value="Tennis C6">Tennis Court 6</option>
                                    <option value="Tennis C7">Tennis Court 7</option>
                                    <option value="Table Tennis C1">Table Tennis Court 1</option>
                                    <option value="Table Tennis C2">Table Tennis Court 2</option>
                                    <option value="Table Tennis C3">Table Tennis Court 3</option>
                                    <option value="Table Tennis C4">Table Tennis Court 4</option>
                                </select>

                                </div>
                            </div>
                        </div> --}}
                        <div class="col-md-0">
                            {{!-- <h5 class="font-weight-light text-light">Available time</h5> --}}
                            {{!-- <h1 class="display-5 font-weight-block text-center text-light">The Country Club</h1>
                            <p class="font-weight-light text-light">Available time</p> --}}
                        </div>

                        <div class="row">
                                
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-outline-light pl-5 pr-5" style="background-color: #8b817a;" name="action" value="checkSessions">Search&raquo;</button>
                            </div>
                        </div>
        </div>
    </div>
</div>
  {{#if sessions}}
      <div class="col mb-4">
          <div class="card" style="border: 3px solid #796241; border-radius : 25px;">
            <div class="card-body" >        
                <div class="row">
                    <div class="col-md-9">
                        <div class="text-muted text-center">
                        <h3>Available Time</h3>
                        </div>
                    </div>    
                        <div class="col mb-4">                    
                            <button type="submit" class="btn btn-sm btn-dark" style="background-color: #8b817a;" name="action" value="addBooking">Add Booking</button>
                        </div>
                        <div class="col mb-4">                    
                            <button type="submit" class="btn btn-sm btn-dark" style="background-color: #8b817a;" name="action" value="confirmBooking">Confirm Booking</button>
                        </div>

                    </div>

                <div class="">      
                    <input 
                        class="form-control" 
                        id = "course_selected"  
{{!--                       type = "hidden" --}}
                        type = "text"
                        name="course_selected"
{{!                        placeholder = "course selected" --}}
                        class = "textbox" 
                        value="{{course_selected}}" style="width: 100%"/>
                </div>
              
            <div class="row row-cols-1 row-cols-md-1">
                <div class="col mb-4">

                
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                        {{!--    <th scope="col">Facility</th>  --}}
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Golf</th>
                            <th scope="col">B</th>
                            <th scope="col">Rugby</th>
                            <th scope="col">B</th>
                            </tr>
                        </thead>
                        <tbody>

                        {{#each sessions}}
                
                            <tr>
                            <th scope="row">{{session_a}}</th>
                        {{!--    <td>{{fac_name}}</td>    --}}
                            <td>{{bookingDate}}</td>
                            <td>{{session_desc}}</td>
                            <td>{{status_a}}</td>
                            <td>
                                <input type="checkbox" class="form-check-input" id="checkbox" name="session_selected_a" value="{{session_a}}" {{disabled_a}} {{checked_a}}>
                                <label class="form-check-label" for="check"></label>
                            </td>
                            <td>{{status_b}}</td>
                            <td>
                                <input type="checkbox" class="form-check-input" id="checkbox" name="session_selected_b" value="{{session_b}}" {{disabled_b}} {{checked_b}}>
                                <label class="form-check-label" for="check"></label>
                            </td>

                            </tr>

                        {{/each}}
                        </tbody>
                    </table>
                {{/if}}
                </div>

            </div>
        </div>
    </div>
</section>

</div>
{{!-- session table --}}
