<style>
.btn-text-left{
	text-align: left;	
}
.btn-text-right{
	text-align: right;
}
</style>


<div class="container py-3 my-3" >  
    <div class="row row-cols-1 row-cols-md-2" >
      <div class="col mb-4">

        <div class="card" style="background-color: rgb(249, 240, 229); border: 2px solid #796241; border-radius : 7px;">
          <img src="{{img_path}}" alt="" class="card-img-top img-fluid">
          <div class="card-body">
            
            <h2 class="card-title text-center" style="color: #8b817a;">{{booking.facility_nm}}</h2>
              {{!-- <p class="card-text">Tennis has always been one of the most popular sporting activities at the 
              <br></p>
              <br>
              <h5 class="card-subtitle text-muted">Booking</h5>
              <br>Tennis courts may be booked for 60 minutes per session.  Advance booking permitted for up to five days in advance. --}}
          </div>
        </div>

      </div>

        <div class="col mb-4">
          <div class="card" style="border: 2px solid #796241; border-radius : 7px;">
            <div class="card-body">
                <h3 class="display-4 text-center my-4" style="color: #8b817a;">Edit your bookings</h3>
                
                    <form action="/bookings/edit/{{booking._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT"/>
                    <div class="form-group">
                        <label for="facility" class="badge badge-secondary text-wrap;" style="width: 12rem;">Facility : {{booking.facility_nm}}</label>
{{!--                            <select
                                type="text" 
                                class="form-control" 
                                name="facility" 
                                value="{{booking.facility}}"
                            />
                                <option selected>Select Sport</option>
                                <option value="RA01">Room A</option>
                                <option value="RB01">Room B</option>
                            </select> 
--}}
                    </div>

                    <div class="form-group">
                        <label for="session" class="badge badge-secondary text-wrap;" style="width: 12rem;">Bookded Time : {{{booking.session_desc}}}</label>
{{!--                            <select 
                                id="" 
                                class="form-control"
                                name = "session"
                                value="{{booking.session}}"
                            />
                            <option name="session" id="session" selected>Select Time</option>
                            <option value="1">10:00-10:30</option>
                            <option value="2">10:30-11:00</option>
                            <option value="3">11:00-11:30</option>
                            <option value="4">11:30-12:00</option>
                            <option value="5">12:00-12:30</option>
                            <option value="6">12:30-13:00</option>
                            <option value="7">13:00-13:30</option>
                            <option value="8">13:30-14:00</option>
                            <option value="9">14:00-14:30</option>
                            <option value="10">14:30-15:00</option>
                            <option value="11">15:00-15:30</option>
                            <option value="12">15:30-16:00</option>
                            <option value="13">16:00-16:30</option>
                            <option value="14">16:30-17:00</option>
                            <option value="15">17:00-17:30</option>
                            <option value="16">17:30-18:00</option>
                            <option value="17">18:00-18:30</option>
                            <option value="18">18:30-19:00</option>
                            <option value="19">19:00-19:30</option>
                            <option value="20">19:30-20:00</option>
                            <option value="21">20:00-20:30</option>
                            <option value="22">20:30-21:00</option>
                            <option value="23">21:00-21:30</option>
                            <option value="24">21:30-22:00</option>
                            </select>
--}}
                    </div>

                    <div class="form-group">
                        <label for="bookingDate" class="badge badge-secondary text-wrap;" style="width: 12rem;">Booked Date : <br>{{booking.bookingDate}}</label>
{{!--
                        <input 
                            class="form-control" 
                            id = "bookingDate"  
                            type = "date"
                            name="bookingDate"
                            placeholder = "Choose a Date" 
                            class = "textbox-n"
                            onfocus = "(this.type = 'date')"  
                            value="{{booking.bookingDate}}"style="width: 100%">
--}}
                    </div>

                    <div class="form-group">
                        <label for="courseID" class="badge badge-secondary text-wrap;" style="width: 12rem;">Course ID : <br>{{booking.courseID}}</label>
                        <input 
                            class="form-control" 
                            id = "courseID"  
                            type = "text"
                            name="courseID"
                            placeholder = "Course ID" 
                            class = "textbox-n"
{{!--                            onfocus = "(this.type = 'date')"  --}}
                            value="{{booking.courseID}}"style="width: 100%">
                    </div>

                    <div class="container py-0 my-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="btn-text-right">
                                    <button class="btn btn-light" type="submit">submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>      
            </div>  
          </div>
        </div>

      </div>
    </div>
</div>

{{!-- <p><h3>Orignial</h3></p>
<div class="card-card-body">
    <h3>Edit Booking</h3>
    <form action="/bookings/edit/{{booking._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="form-group">
        <label for="facility">Facility</label>
        <input type="text" 
                class="form-control" 
                name="facility" 
                value="{{booking.facility}}"
        />
    </div>
    <div class="form-group">
        <label for="bookingDate">Booking Date</label>
        <input type="text" 
                class="form-control" 
                name="bookingDate" 
                value="{{booking.bookingDate}}"
        />
    </div>
    <div class="form-group">
        <label for="session">Session</label>
        <input type="text" 
                class="form-control" 
                name="session" 
                value="{{booking.session}}"
        />
    </div>

    <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div> --}}
